.center-block {
  float: none;
}

.customer-show .row{
  margin-left: auto;
}

.margin-r-5 {
  margin-right: 5px;
}

.show-actions>i {
  float: right;
  color: #dd4b39;
}

.small-box > .inner {
  padding: 12px;
}

.font-big {
  font-size: 60px;
}

.font-bold {
  font-size: 14.5px;
  font-weight: bolder;
}

.pad-center {
  padding: 6px 12px;
}

.show-box {
  margin-bottom: 0px;
  box-shadow: none;
}

.bch-icon {
  -webkit-transform: rotate(-30deg);
  -moz-transform: rotate(-30deg);
  -ms-transform: rotate(-30deg);
  -o-transform: rotate(-30deg);
  transform: rotate(-30deg);
}
